$fa-font-path: './webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free';
@import '@fortawesome/fontawesome-free/scss/solid.scss';


@import 'bootstrap/scss/bootstrap';


// my variables 
$myLifthGrey: #f9f5f2;
$myGray: #f2f3f2;
$myLifthGreen: #3d6f42;
$myGreen: #1e3120;
//end my variables


.my-green {
	color: #3d6f42;
}

.my-text-green {
	color: #3d6f42;
}

.my-text-dark-green {
	color: #1e3120;
}

.my-bg-dark-green{
	background-color: #1e3120;
}

.my-bg-green {
	background-color: #3d6f42;
	color: #f2f3f2;
}




