$fa-font-path: './webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free';
@import '@fortawesome/fontawesome-free/scss/solid.scss';


@import 'bootstrap/scss/bootstrap';


// my variables 
$myLifthGrey:	#f9f5f2;
$myGray:		#f2f3f2;
$myLifthGreen:	#3d6f42;
$myGreen:		#1e3120;
//end my variables

body{
	max-width: 1600px;
	margin: 0 auto;
}

main{
	max-width: 1400px;
	margin: 0 auto;
}
